<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">

    <title>About ClockWise</title>

</head>
<body>
<nav>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="ClockWise Logo" class="logo">

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/face">Add Face</a>

</nav>
<div class="container">
    <h1>About ClockWise</h1>
    <h2>Artist: Jonah Brucker-Cohen</h2>
    <p>
        ClockWise is a “smart” clock that will only tell you the time it was the last time you checked it. Utilizing a
        combination of artificial intelligence and face detection, the clock can identify its viewer and show them only
        the time the last they looked at the clock face. Inspired by the "forgetting curve" discovered by German
        psychologist Hermann Ebbinghaus in the 1880s, ClockWise challenges our memory retention by displaying the time
        of our last glance, compelling us to reinforce our knowledge or seek the current time elsewhere.
    </p>
    <h2>System</h2>
    <p>
        The project operates through software that links to a camera for face detection. Upon recognizing a viewer,
        ClockWise displays the time of their last visit. For repeat viewers, it shows the last time they checked,
        creating a unique interaction that plays on human memory and the concept of time perception. New faces trigger
        the clock to record the current time, storing this data to display upon their return. This inventive approach
        reimagines the traditional clock, making each glance a personal and reflective experience.
    </p>
    <p>For more information, visit <a href="http://www.coin-operated.com" target="_blank">www.coin-operated.com</a>.</p>
</div>
</body>
</html>
