<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>ClockWise</title>
</head>
<body>
<nav>
    <img src="{{ url_for('static', filename='clock.png') }}" alt="ClockWise Logo" class="logo">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/face">Add Face</a>
</nav>
<div class="container">
    <h1 id="ClockWise">ClockWise</h1>
    <video id="video" width="640" height="480" style="display:none;" autoplay></video>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    <div id="userInfo">Face not recognized. Please add your face.</div>
</div>

<script>
    let video = document.getElementById('video');
    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');
    let userInfoDiv = document.getElementById('userInfo');

    navigator.mediaDevices.getUserMedia({video: true})
        .then(stream => video.srcObject = stream)
        .catch(error => console.error('Error accessing media devices.', error));

    setInterval(() => {
        context.drawImage(video, 0, 0, 640, 480);
        let imageDataUrl = canvas.toDataURL('image/png');

        fetch('/compare_face', {  // Make sure this route matches your Flask route for face comparison
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({image: imageDataUrl})
        })
            .then(response => response.json())
            .then(data => {
                    if (data.match) {
                    userInfoDiv.innerHTML = `Welcome back, ${data.username}. Last seen: ${data.last_seen}`;
                } else {
                    userInfoDiv.innerHTML = "Recognizing your face. Please wait.";
                }
            })
            .catch(error => console.error('Error sending frame.', error));
    }, 5000); // Adjusted to capture and send frame every 5 seconds
</script>
</body>
</html>
